<div class="main">
    <app-navbar>
    </app-navbar>
    <div class="padpoem" *ngIf="showPoemList">
        <h2>Liste des poèmes</h2>
        <div class="poems" *ngFor="let poem of poems">
            <a (click)="openPoem(poem.id)" [innerHTML]="getSafeHtml(poem.title)"></a>
        </div>
      </div>
      <div  *ngIf="selectedPoem" class="modal">
      <div class="glass" (scroll)="true">
        <!-- Modal pour afficher le contenu du poème -->
      <div class="padpoem">
        <h2>{{ selectedPoem.title }}</h2>
        <p [innerHTML]="transformContent(selectedPoem.content)"></p>
        <a class="fermer" (click)="closePoem()">Fermer</a>
      </div>
      </div>
        
      </div>
      
</div>
  