<div class="main">
  <app-navbar></app-navbar>
  <script src="https://cdn.tailwindcss.com"></script>

  <div class="gradient-background">
      <div class="fle1">
          <div class="fle2">
              <img id="imageDisplay" src="assets/images/image1.gif" alt="Cute kitten with flowers" class="rounded-md h-[300px]" style="object-fit: cover;" />
              <h2 id="valentineQuestion" class="text-4xl font-bold italic text-[#bd1e59] my-4"> Veux-tu être ma valentine ?</h2>
              <div id="responseButtons">
                  <button id="yesButton"
                      class="bounce2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-[20px] font-medium disabled:pointer-events-none disabled:opacity-50 hover:bg-green-400 min-h-12 min-w-[75px] px-4 py-2 bg-green-500 text-white transition">
                      Oui
                  </button>
                  <button id="noButton"
                      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-[20px] font-medium transition disabled:pointer-events-none disabled:opacity-50 hover:bg-red-700 h-12 min-w-[75px] w-auto px-4 py-2 bg-red-500 text-white">
                      Non
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
