<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>404 Error Page </title>
   </head>
   <body>
      <div class="main">
         <div id="error-page">
            <div class="content">
               <h2 class="header" data-text="404">
                  404
               </h2>
               <h4 data-text="Oups ! Page non trouvée">
                  Oups ! Page non trouvée
               </h4>
               <p>
                  Désolé la page que vous cherchez n'existe pas. Si tu penses que quelque chose est cassé, report le problème.
               </p>
               <div class="btns">
                  <a  [routerLink]="'/acceuil'">Retourner à l'acceuil</a>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>