<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> KikiPav </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="main">
    <app-navbar></app-navbar>
    <div class="text-content">
      <h2>Kiki ❤ Pav,<br>Site dédié au partage de notre amour</h2>
      <p>Nous sommes un couple amoureux passionné par l'écriture de poèmes. Nous avons créé ce site pour partager notre amour avec le monde.</p>
    </div>
    <div class="play-button">
      <span class="play">Play Video</span>
      <i class="fas fa-play" onclick="click()"></i>
    </div>
  </div>
</body>
</html>
